@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
  /* colores */
  --color-primary: #000000;
  --color-background: #ffffff;
  --color-border: #e0e0e0;

  /* espaciado */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

  /* tipografías — familias */
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-display: 'Gabarito', sans-serif;

  /* tipografías — tamaños */
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 18px;
}
